# =========================
# SO / editor / IDE
# =========================
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# IntelliJ / JetBrains
.idea/
*.iml
# (se quiser commitar Code Style/Inspections, remova o ignore da pasta .idea e selecione arquivos específicos)

# VS Code
.vscode/

# Eclipse (por via das dúvidas)
.project
.classpath
.settings/

# Saídas comuns
out/
bin/

# =========================
# Gradle / Build
# =========================
.gradle/
build/

# Mantenha o wrapper versionado (recomendado)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# =========================
# Java / JVM
# =========================
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
*.hprof

# Logs / temporários
*.log
*.tmp
*.temp
*.pid

# =========================
# Docker / Banco
# =========================
postgres-data/
.env
*.env
docker-compose.override.yml

# Arquivos opcionais do Flyway que podem conter segredos
flyway.conf

# =========================
# Testes / Relatórios
# (já ficam dentro de build/, mas mantido por clareza)
# =========================
# Cucumber
# build/reports/cucumber/
# JUnit
# build/reports/tests/
